@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
} 

.calculator {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.calculator Link {
  background: #FFBF00;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.calculator title {
  background: #FFBF00;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.calculator h1 {
  font-size: 50px;
  color: #FFBF00;
  margin-bottom: 30px;
}

.calculator button {
  background: #FFBF00;
  color: #fff;
  border: 100%;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.calculator input {
  width:100px;
  font-size: larger;
  height: 50px;
  padding: 6px  10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.resultados {
  font-size:50px;
  background: #fff;
  color: #fff;
  border: 100px;
  padding: 8px;
  border-radius: 8px;
}

.botao-historico{
  background: #FFBF00;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 32px;
  cursor: pointer;

}