@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color:#fff

} 

.calculator {
  max-width: 650px;
  margin: 50px auto;
  text-align: center;
  color:rgb(255,255,255);
}

.calculator Link {
  background: #FFBF00;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.calculator title {
  background: #FFBF00;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.calculator h1 {
  font-size: 50px;
  color: #FFBF00;
  margin-bottom: 30px;
}

.calculator button {
  background: #ffbf00;
  color: #fff;
  border: 100%;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.calculator input {
  width:100px;
  color: rgb(0, 0, 0);
  font-size:20px;
  height: 50px;
  padding: 6px  10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.resultados {
  font-size:50px;
  background: #fff;
  color: #fff;
  border: 100px;
  padding: 8px;
  border-radius: 8px;
}

.botao-historico{
  background: #FFBF00;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 32px;
  cursor: pointer;
  position:sticky;

}

.link-github{
  left: 5%;
  position: absolute;
  background: #24292f;
  color: #fff;
  padding: 10px;
  border-radius: 32px;
  cursor: pointer;
}

.history-preview{
  max-width: 650px;
  margin: 50px auto;
  text-align: center;
 

}
.history-preview h2{
  color:rgb(0, 0, 0);
  max-width: 650px;
  margin:  auto;
  text-align: left;
  border: 0;
  padding: 5px;
  border-radius: 5px;

}
.Calcular-mais{
  position: absolute;
  top: 5%;
  left: 10%;
  transform: translate(-50%, -50%);
  position: absolute;
  color:black;
  text-align: center;
  background: #FFBF00;
  border: 0px;
  padding: 15px;
  border-radius: 32px;
  cursor: pointer;
}
.duodigito{
  position: relative;
  left:25%;
}

.history-preview button{
  background: #ffbf00;
  color: #fff;
  border: 100%;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}